@use '../mixins/mixin' as m;
.footer {
    background-color:rgb(245, 245, 235);
    height: 270px;
    width: 100%;
    display: flex;
    padding-top: 20px;
    border-top: 1px red solid;

    .logo  {
        padding: 0 50px;
        text-align: center;
        img {
            height: 5vw;
        }
        p {
            margin: 0;
        }
    }
    
    
    .links {
        display: flex;
        flex-direction: row;
        padding: 0 20px;

        .socials {
            @include m.footer-links-container;

            .socials-link {
                @include m.footer-links;
            }
        }

        .nav {
            @include m.footer-links-container;

            .nav-link {
                @include m.footer-links;
            }
        }

        .community {
            @include m.footer-links-container;

            .community-link {
                @include m.footer-links;
            }
        }

        .support {
            @include m.footer-links-container;

            .support-link {
                @include m.footer-links;
            }
        }
    }


    #form-wrap {
        flex: 1;
        padding: 0 50px;
        #form {
            display: flex;
            flex-wrap: wrap;
            background-color: inherit;
            border-radius: 20px;
            width: 35vw;
        
            &>.form-title {
                width: 100%;
                font-size: 1.5vw;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        
            &>.form-description {
                width: 100%;
                font-size: 1vw;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        
            .email-label {
                padding-right: 3px;
                input[type="email"] {
                    width: 15vw;
                    padding: 5px;
                   @include m.input-button-border;
                }
            }
    
            .text-label {
    
                input[type="text"] {
                    width: 10vw;
                    padding: 5px;
                    @include m.input-button-border;
                }
            }
    
            .button-wrap {

                button {
                    @include m.input-button-border;
                    background-color: inherit;
                    padding: 5px;

                    &:hover {
                        background-color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    
    }
}