.footer {
    background-color:rgb(245, 245, 235);
    height: 270px;
    width: 100%;
    display: flex;
    padding-top: 20px;

    .logo  {
        padding: 0 50px;
        text-align: center;
        img {
            height: 5vw;
        }
        p {
            margin: 0;
        }
    }
    
    
    .links {
        display: flex;
        flex-direction: row;
        padding: 0 20px;

        .socials {
            padding: 0 30px;
            display: flex;
            flex-direction: column;

            .socials-link {
                padding: 5px 0;
                text-decoration: none;
                color:black;
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            .nav-link {
                padding: 5px 0;
                text-decoration: none;
                color:black;
            }
        }

        .community {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            .community-link {
                padding: 5px 0;
                text-decoration: none;
                color:black;
            }
        }

        .support {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            .support-link {
                padding: 5px 0;
                text-decoration: none;
                color:black;
            }
        }
    }


    #form-wrap {
        flex: 1;
        padding: 0 50px;
        #form {
            display: flex;
            flex-wrap: wrap;
            background-color: inherit;
            border-radius: 20px;
            width: 35vw;
        
            &>.form-title {
                width: 100%;
                font-size: 1.5vw;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        
            &>.form-description {
                width: 100%;
                font-size: 1vw;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        
            .email-label {
                padding-right: 3px;
                input[type="email"] {
                    width: 15vw;
                    padding: 5px;
                    border-color: white;
                    border-width: 3px;
                    border-style: solid;
                }
            }
    
            .text-label {
    
                input[type="text"] {
                    width: 10vw;
                    padding: 5px;
                    border-color: white;
                    border-width: 3px;
                    border-style: solid;
                }
            }
    
            .button-wrap {

                button {
                    border-color: white;
                    border-width: 3px;
                    border-style: solid;
                    background-color: inherit;
                    padding: 5px;

                    &:hover {
                        background-color: yellow;
                    }
                }
            }
        }
    
    }
}