main {
    #preview {
        overflow: hidden;
        position: relative;
        height: 800px;
        width: 100%;
        background-image: url(https://static.wikia.nocookie.net/warframe/images/a/aa/Warframe0055.png/revision/latest/scale-to-width-down/1000?cb=20140301125131);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .video {
            //display: none;
            margin-top: 45px;
            width: 2000px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        .description-preview {

            font-family: Verdana;
            position: relative;
            text-align: center;
            float: right;
            width: 30%;
            background-color: rgba(0, 0, 0, 0.6);
            height: inherit;
            padding: 6vw 5vw;
            color: white;

            iframe {
                position: relative;
                top: 3vw;
                height: 25vw;
                width: 30vw;
            }
        }
    }

    #abilities-preview {
        padding-bottom: 5vw;
        height: 50vw;

        .title {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 1vw 2vw 2vw 2vw;

            p {
                font-size: 1.5vw;
                padding: 0 20vw;
                text-align: center;
            }

            h1 {
                padding-top: 2vw;
                text-align: center;
                width: 100%;
                font-size: 2vw;
            }
        }

        .abilities {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            & > div {
                width: 20vw;
                height: 32vw;
                background-color: white;
                box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.199);

                & > div {
                    width: 100%;
                    text-align: center;
                    padding: 1.5vw 0;

                    .ability-icon {
                        filter: invert(1);
                        height: 4vw;
                    }

                    .ability-mod {
                        height: 10vw;
                        border-radius: 100px;
                    }
                }
            
                .ability-description {
                    padding: 0 2vw;
                    font-size: 1.2vw;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:540px) {
   main {

    #preview {
        height: 900px;
        .video {
            left: 85%;
        }
        .description-preview {
            width: auto;
            height: 200px;
            top: 500px;
        }

        #video {
            display: none;
        }
    }

    #abilities-preview {
        padding-top: 45px;
        height: 1300px;

           .title {
               h1 {
                   font-size: 16px;
               }
               p {
                   display: none;
               }
           }

           .abilities {
               flex-direction: column;
               align-items: center;
               height: 1200px;

                &>div {
                    height: 250px;
                    width: 250px;
                    padding-top: 25px;
                    &>div {

                        .ability-mod {
                            display: none;
                        }
        
                        .ability-icon {
                            height: 50px;
                        }
                    }
                    .ability-description {
                        font-size: 16px;
                    }
                }
                
                
           }
       }
   }
}