body {
  margin: 0;
}

#header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  border-bottom: 1px solid red;
  box-sizing: border-box;
  z-index: 10;
}
#header #header-img {
  background-color: white;
  padding: 0 1em;
  height: 100%;
}
#header #nav-bar {
  width: 100%;
  background-color: white;
}
#header #nav-bar .nav-link {
  display: block;
  padding: 0.8em 1em;
  float: left;
  text-decoration: none;
  color: black;
}
#header #nav-bar .nav-link:hover {
  background-color: red;
  color: white;
}
#header > a {
  padding: 0.8em;
  width: 150px;
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
  background-color: red;
  color: white;
}

main #preview {
  overflow: hidden;
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url(https://static.wikia.nocookie.net/warframe/images/a/aa/Warframe0055.png/revision/latest/scale-to-width-down/1000?cb=20140301125131);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #preview #video {
  margin-top: 45px;
  width: 2000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
main #preview .description-preview {
  font-family: Verdana;
  position: relative;
  text-align: center;
  float: right;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  height: inherit;
  padding: 6vw 5vw;
  color: white;
}
main #preview .description-preview iframe {
  position: relative;
  top: 3vw;
  height: 25vw;
  width: 30vw;
}
main #abilities-preview {
  padding-bottom: 5vw;
  height: 50vw;
}
main #abilities-preview .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}
main #abilities-preview .title p {
  font-size: 1.5vw;
  padding: 0 20vw;
  text-align: center;
}
main #abilities-preview .title h1 {
  padding-top: 2vw;
  text-align: center;
  width: 100%;
  font-size: 2vw;
}
main #abilities-preview .abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main #abilities-preview .abilities > div {
  width: 20vw;
  height: 32vw;
  background-color: white;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.199);
}
main #abilities-preview .abilities > div > div {
  width: 100%;
  text-align: center;
  padding: 1.5vw 0;
}
main #abilities-preview .abilities > div > div .ability-icon {
  filter: invert(1);
  height: 4vw;
}
main #abilities-preview .abilities > div > div .ability-mod {
  height: 10vw;
  border-radius: 100px;
}
main #abilities-preview .abilities > div p {
  padding: 0 2vw;
  font-size: 1.2vw;
  text-align: center;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
  background-image: url(https://d1lss44hh2trtw.cloudfront.net/assets/article/2019/07/18/how-to-create-a-clan-and-invite-others-in-warframe-hero_feature.jpg);
  background-size: cover;
}
.form-wrap #form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  width: 35vw;
  padding: 20px;
}
.form-wrap #form > .form-title {
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-wrap #form > .form-description {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-wrap #form .email-label {
  padding: 5px;
}
.form-wrap #form .email-label input[type=email] {
  width: 15vw;
}
.form-wrap #form .number-label {
  padding: 5px;
}
.form-wrap #form .number-label input[type=number] {
  width: 10vw;
}
.form-wrap #form .button-wrap {
  padding: 5px;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
